.axis .domain {
  display: none;
}

.tick line {
	stroke:#ddd;
}

.main-header .sidebar-toggle {
	padding:0px;
}

.main-header .sidebar-toggle::before {
	content:none;
}

.sidebar h3 {
	padding:10px;
	text-align:center;
	color:#fff;
}

a {
	color:#495057;
}

.sidebar-menu {
	border-bottom:0px !important;
	.nav-item {
		width:100%;
		border-radius:0px;
	}
	.nav-link {
		border:0px;
		border-radius:0px;
		background:none;
		width:100%;
	}
	.nav-link.active {
		background:none;
		border:0px;
		color:#fff;
	}
}

#plot-output {
	width:100%;
	height:650px;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    padding: 10px;				
    font: 12px sans-serif;		
    background: rgba(255,255,255,0.8);	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

.results {
	background:#fff;
	min-height:200px;
	margin:10px;
	padding:0px;
	border-radius:3px;
	box-shadow:0 1px 1px rgba(0,0,0,.1);
	.nav-link {
		border-radius:0px;
	}
	.nav-tabs > li:first-of-type {
		margin-left:0px;
		a {
			border-left:0px;	
		}
	}
	a.active {
	border-top:2px solid #3c8dbc !important;
}
}

#dots {
	display:none;
	width:100%;
	text-align:center;
	padding:100px;
}

.sample-error {
	padding:20px;
}

#table-output {
	width:100%;
	height:650px;
	h3 {
		padding-left:30px;
		padding-top:30px;
	}
	table {
		font-size:12px;
		margin:30px;
	}
	thead{
		font-weight:bold;
		text-align:center;
		th {
			padding:10px;
		}
	}
	tr {
		border-bottom:2px solid #ddd;
	}
	td {
		padding:10px;
		text-align:center;
	}
}